<!DOCTYPE html>
<html>
<head>
  <title>Carrera multijugador</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/multi.js"></script>
</head>
<body>
  <h1>Carrera multijugador</h1>
  <div id="text"></div>
  <textarea id="input" rows="3" cols="60"></textarea>
  <div id="opponent"></div>
  <a href="/">Volver</a>
</body>
</html>
