<!DOCTYPE html>
<html>
<head>
  <title>Juego individual</title>
  <script src="/single.js"></script>
</head>
<body>
  <h1>Juego individual</h1>
  <div id="text"></div>
  <textarea id="input" rows="3" cols="60"></textarea>
  <div id="result"></div>
  <a href="/">Volver</a>
</body>
</html>
